@model IEnumerable<ProjectManager.Models.Year>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YearValue)
        </th>
        <th></th>
    </tr>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.YearID }) |
        @Html.ActionLink("Details", "Details", new { id = item.YearID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.YearID })
    </td>
</tr>
}

</table>
